/* Mon fichier CSS*/
/* Les balises seront écrites dans l'ordre d'arrivée selon le code html (Note: commentaire inutile étant donné les propriétés du CSS */

* {
  font-family: "ralewayvariable", "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ralewayvariable";
  src: url(../../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ralewaybold;
  src: url(../../fonts/static/Raleway-Bold.ttf);
}

@font-face {
  font-family: Ralewayboldextra;
  src: url(../../fonts/static/Raleway-ExtraBold.ttf);
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  object-fit: cover;
}

/* La propriété objet-fit permet d'ajuster la taille d'une image en fonction de la largeur du bloc qui la contient */

#searchform,
#filtresconteneur,
#infonote {
  padding-top: 10px;
  margin-top: 10px;
}

/*********************************************** Partie 1: l'en-tête ********************************************/

#headerconteneur {
  display: flex;
  justify-content: space-between;
  padding-left: 33px;
  padding-right: 20px;
}

.logo {
  height: auto;
  width: 50%;
}

#navigation {
  display: flex;
  gap: 50px;
}

#navigation .navilien:hover {
  border-top: 2px #0065fc solid;
}

a {
  color: black;
  text-decoration: none;
  width: 100%;
}

#navigation a:hover {
  color: #0065fc;
}

/*************************************************** Fin de la partie 1  **********************************************************/

/*********************************************** Partie 2: Corps de la page ********************************************************/

main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* début de la section formulaire */

#section0 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

h1 {
  font-size: 2em;
  font-family: Ralewaybold;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

h3 {
  width: 100%;
  font-size: 26px;
}

h4 {
  width: 100%;
}

form .noir i {
  color: black;
  background-color: #dbdbdb;
}

form p {
  display: flex;
}

form p label {
  height: 42px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form p label i {
  color: black;
}

#geolocal {
  height: 20px;
  width: 4%;
  background-color: rgb(238, 233, 233);
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

.filtreicone {
  height: auto;
  width: 100%;
}

#searchform input {
  height: 42px;
  width: 15%;
  border: 0.1px solid rgb(238, 233, 233);
}

::placeholder {
  font-weight: bold;
  font-size: 120%;
  color: black;
  font-family: Ralewaybold;
}

#searchform button {
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 42px;
  width: 9%;
  min-width: fit-content;
  font-size: 1.2em;
  border: none;
}

#searchform .responsive {
  display: none;
}

#filtresconteneur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 67%;
  min-width: 67%;
}

.filtres {
  height: 50px;
  border: 1px rgb(211, 211, 211) solid;
  border-radius: 100px;
  width: 18%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: fit-content;
}

.filtres:nth-child(5) {
  width: 24%;
}

.filtres:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#filtretitre {
  font-weight: bold;
  font-size: 23px;
  font-family: Ralewaybold;
}

.filtres div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtretexte {
  text-align: center;
  font-weight: bold;
  color: black;
  padding-left: 10px;
  font-size: 19px;
  font-family: Ralewaybold;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #deebff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
}

.filtres i {
  display: inline-block;
  font-size: 23px;
  text-align: left;
}

#infonote {
  display: flex;
  gap: 20px;
  height: auto;
  width: 60%;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 20px;
}

.info {
  height: auto;
  width: 0.5%;
  border: 2px black solid;
  border-radius: 50%;
  padding: 15px;
}

#iconenote {
  border: 2px #dbdbdb solid;
  border-radius: 50%;
  height: auto;
  width: 2%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************************** Fin de la section formulaire ***********************************************************************/

/******************************************************** Début de la section hébergement à Marseille photos et notation ****************************************************/

#section1 {
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 5px;
}

#hebergementmarseille {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  width: 63%;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 2px;
  min-width: 63%;
}

#activitesmarseille figure {
  width: 100%;
}

#activitesmarseille figure img {
  width: 100% !important;
}
.hebergement {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgb(199, 196, 196);
  width: 28%;
  height: 238px;
  margin: auto;
  background-color: white;
  border-radius: 10%;
  border: 5px solid white;
}

.hebergement > div {
  width: 100%;
  height: auto;
}

.description {
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: auto;
}

.description .rang .gris i {
  color: #d9d9d9;
}

#hebergementmarseille h3 {
  padding-left: 20px;
  padding-top: 20px;
  margin: 0%;
  padding-bottom: 20px;
  font-family: Ralewaybold;
}

.hebergement h4 {
  width: 100%;
  margin: 0px;
  font-family: Ralewaybold;
}

.hebergement p {
  margin-top: 4px;
}

.prix {
  font-weight: bold;
}

.apercu {
  height: 150px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.hebergement .rang {
  padding: 0;
  margin-bottom: 0;
  margin-top: -11px;
}

i {
  color: #0065fc;
}

#hebergementmarseille .plus {
  font-size: 20px;
  padding-left: 30px;
  font-family: Ralewaybold;
}

#lespluspopulaires {
  display: flex;
  flex-flow: column wrap;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 20px;
  padding-top: 0%;
  width: 29%;
  height: auto;
  min-width: 29%;
}

#lespluspopulaires h3 {
  font-family: Ralewaybold;
}

#lespluspopulaires h4 {
  font-family: Ralewaybold;
  font-size: 110%;
}

#lespluspopulaires #titrelink .noir i {
  color: black;
  padding-right: 60px;
  font-size: 160%;
}

.photoleft {
  display: flex;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  padding: 5px;
  height: 171px;
  width: 87%;
  min-width: 87%;
  box-sizing: border-box;
}

.aperculeft {
  width: 45%;
  min-width: 45%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.textenotation {
  display: flex;
  flex-direction: column;
  width: 46%;
  height: auto;
  margin-top: -15px;
  margin-left: 10px;
  min-width: 46%;
}

.textenotation p {
  margin-top: -17px;
  margin-bottom: auto;
}

.textenotation .rang {
  margin-top: auto;
}

.textenotation p .gris i {
  color: #d9d9d9;
}

#titrelink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 20px;
}
.charte {
  height: auto;
  width: 10%;
}

/* Fin de la section hébergement */

/* Début de la section activité */

#section2 {
  width: 100%;
  padding-left: 7px;
}

#activitesmarseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#activitesmarseille h3 {
  font-family: Ralewaybold;
}

#activitesmarseille figure {
  width: 100%;
}

/*
#activitesmarseille:nth-child(1) {
  background-color: red;
}
Permet de cibler un élément enfant sans avoir à définir une classe ou id
*/

figcaption {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: Ralewaybold;
}

#firstbloc {
  width: 23%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#firstbloc figure {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 20px rgb(199, 196, 196);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#firstbloc figure img {
  width: 393px;
  height: 511px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
}

#secondbloc {
  width: 22%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#secondbloc figure {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 20px rgb(199, 196, 196);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#secondbloc figure img {
  width: 450px;
  height: 260px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#secondbloc figure #frioul {
  height: 172px;
}

#thirdbloc {
  width: 23%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#thirdbloc figure {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 20px rgb(199, 196, 196);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#thirdbloc figure img {
  width: 450px;
  height: 511px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#fourthbloc {
  width: 23%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#fourthbloc figure {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 20px rgb(199, 196, 196);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#fourthbloc figure img {
  width: 390px;
  height: 210px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/*********************************************** Fin de la section 2 *************************************/

/******************************************** Début du pied de page **************************************/

#conteneurfooter {
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 80px;
}

#conteneurfooter h3 {
  font-family: Ralewaybold;
}

#apropos {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20px;
}

#apropos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 9px;
}

#noshebergements {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#noshebergements ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 9px;
}

#assistance {
  display: flex;
  flex-direction: column;
  width: 20%;
}

#assistance ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 9px;
}

/**************************************** Début de la partie responsive ******************************************/

@media screen and (max-width: 768px) {
  /*
  body {
 margin:0;
  }
  Modifier le body n'est pas conseillé
  */

  /*********************************************** Header responsive 768px ************************************/

  header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #headerconteneur {
    padding: 0;
  }

  #logo {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 50px;
  }

  #logo .logo {
    width: 100%;
    height: 55px;
  }

  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  #navigation p {
    text-align: center;
  }

  .navilien {
    width: 100%;
    border-bottom: 2px #f2f2f2 solid;
  }

  #navigation .navilien:hover {
    border-bottom: 2px #0065fc solid;
    border-top: 0;
  }

  /******************************************* Fin du header responsive ************************************/

  /************************************* Début du formulaire responsive 768px *************************************/

  main {
    padding-left: 0;
    padding-right: 0;
  }

  /* La solution était vraiment toute bête pour résoudre ce problème de marge dans la version responsive  */

  #section0 {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #searchform h1 {
    font-size: 140%;
  }

  #searchform h2 {
    font-size: 100%;
  }

  form {
    margin-top: 29px;
  }

  form p {
    justify-content: center;
  }

  #searchform input {
    width: 70%;
    padding-left: 15px;
  }

  #searchform button {
    width: 15%;
    display: none;
  }

  #searchform .responsive {
    display: block;
    background: #0065fc;
    width: 11%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* L'erreur 404 dû au fichier responsive manquant venait dans l'url de la propriété background  */

  .responsive i {
    color: white;
  }

  #infonote {
    width: 100%;
    padding: 0;
  }

  /************************************************************** Fin du formulaire responsive ***************************************/

  /************************************************************** Début du filtre responsive 768px ************************************/

  #filtresconteneur {
    flex-flow: row wrap;
    width: 97%;
    gap: 10px;
  }

  #filtresconteneur #filtretitre {
    width: 100%;
    margin-bottom: 0;
    font-size: 130%;
  }

  .filtres {
    width: 55%;
  }

  .filtres:nth-child(1) {
    width: 45%;
  }

  .filtres:nth-child(3) {
    width: 40%;
  }

  .filtres:nth-child(4) {
    width: 55%;
  }

  .filtres:nth-child(5) {
    width: 65%;
  }

  #iconenote {
    width: 27px;
    height: 27px;
  }

  #note {
    font-size: 16px;
  }

  /*************************************************** Début section1 responsive 768 px **************************************/

  #section1 {
    margin: 0;
    padding: 0;
  }

  #lespluspopulaires {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0%;
  }

  #titrelink h3 {
    font-size: 137%;
    margin-bottom: 15px;
  }

  #lespluspopulaires h4 {
    font-size: 110%;
  }

  #lespluspopulaires .carte {
    font-size: 100%;
  }

  .textenotation .rang {
    margin-top: 10px;
  }

  #lespluspopulaires #titrelink .noir i {
    padding-right: 20px;
  }

  .photoleft {
    width: 90%;
    height: 150px;
  }

  #hebergementmarseille {
    order: 2;
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    background-color: white;
  }

  #hebergementmarseille h3 {
    padding-bottom: 10px;
    padding-left: 6px;
    font-size: 138%;
  }

  .hebergement {
    width: 97%;
    height: 205px;
    margin: 0;
    margin-bottom: 16px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 2px rgb(199, 196, 196);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid white;
  }

  .apercu {
    height: 130px;
    width: 100%;
  }

  #hebergementmarseille .plus {
    font-size: 150%;
    padding-left: 0%;
  }

  /*************************************************** Fin de la section1 responsive 768 px **************************************/

  /******************************************************** Début de la section2 responsive 768px *******************************************/

  #section2 {
    width: 100%;
    padding: 0;
  }

  #activitesmarseille {
    flex-flow: column wrap;
    width: 100%;
  }

  #activitesmarseille h3 {
    padding-left: 20px;
    width: 85%;
  }

  #firstbloc,
  #secondbloc,
  #thirdbloc,
  #fourthbloc {
    width: 95%;
    margin-bottom: 20px;
    font-size: 135%;
    padding-left: 10px;
  }

  #firstbloc figure,
  #secondbloc figure,
  #thirdbloc figure,
  #fourthbloc figure {
    box-shadow: 0 0 2px rgb(199, 196, 196);
  }

  #firstbloc figure img {
    width: 393px;
    height: 170px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  #secondbloc {
    margin-bottom: 2px;
  }

  #secondbloc figure {
    margin-bottom: 20px;
  }

  #secondbloc figure img {
    width: 393px;
    height: 170px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  #secondbloc figure img:nth-child(1) {
    width: 393px;
    height: 170px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  #thirdbloc figure img {
    width: 393px;
    height: 170px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  #fourthbloc {
    gap: 20px;
  }

  #fourthbloc figure img {
    width: 393px;
    height: 170px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  /**************************************** Début du footer responsive 768px *****************************************/

  #conteneurfooter {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  #apropos {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  #apropos ul {
    list-style: none;
    padding-bottom: 0;
    margin: 0;
    font-size: 130%;
  }

  #noshebergements {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  #noshebergements ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 130%;
  }

  #assistance {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
  }

  #assistance ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 130%;
  }
}

/******************************************** Fin de la partie responsive 768px ****************************************/

/******************************************** Début de la partie responsive 992px ****************************************/

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*********************************************** Header responsive 992px ************************************/

  header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  #headerconteneur {
    padding: 0;
  }

  #logo {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 50px;
  }

  #logo .logo {
    width: 100%;
    height: 55px;
  }

  #navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  #navigation p {
    display: flex;
    justify-content: center;
  }

  .navilien {
    width: 100%;
    border-bottom: 2px #f2f2f2 solid;
    gap: 0;
  }

  #navigation .navilien:hover {
    border-bottom: 2px #0065fc solid;
    padding-bottom: 10px;
    border-top: 0;
  }

  /******************************************* Fin du header responsive ************************************/

  /************************************* Début du formulaire responsive 992px *************************************/

  #searchform h1 {
    font-size: 160%;
  }

  #searchform h2 {
    font-size: 120%;
  }

  #searchform h1,
  #searchform h2 {
    text-align: center;
  }

  form p {
    justify-content: center;
  }

  #searchform input {
    width: 50%;
  }

  #searchform button {
    width: 15%;
    display: none;
  }

  #searchform .responsive {
    display: block;
    background: #0065fc;
    width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .responsive i {
    color: white;
  }

  /************************************** Fin du formulaire responsive ***************************************/

  /*************************************** Début du filtre responsive 992px ************************************/

  #filtresconteneur {
    flex-flow: row wrap;
    width: 97%;
    gap: 10px;
  }

  #filtretitre {
    width: 100%;
  }

  .filtres {
    width: 40%;
  }

  .filtres:nth-child(1) {
    width: 45%;
  }

  .filtres:nth-child(3) {
    width: 35%;
  }

  .filtres:nth-child(4) {
    width: 40%;
  }

  .filtres:nth-child(5) {
    width: 35%;
  }

  #infonote {
    display: flex;
    justify-content: center;
    width: 87%;
  }

  #iconenote {
    width: 27px;
    height: 27px;
  }

  #note {
    font-size: 18px;
  }

  /*************************************************** Début section1 responsive 992px **************************************/

  #lespluspopulaires {
    width: 100%;
    padding: 0%;
    margin: 0%;
    border-radius: 0%;
  }

  #lespluspopulaires h3 {
    text-align: center;
    font-size: 200%;
  }

  #lespluspopulaires .carte {
    font-size: 100%;
    display: flex;
    justify-content: center;
  }

  #titrelink .noir {
    padding-right: 23px;
    font-size: 26px;
  }

  .photoleft {
    width: 90%;
    height: 150px;
  }

  #hebergementmarseille {
    order: 2;
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    margin-top: 50px;
  }

  #hebergementmarseille h3 {
    text-align: center;
    font-size: 200%;
  }

  .hebergement {
    width: 100%;
    height: 350px;
    margin: 0;
    margin-bottom: 50px;
    box-shadow: 0 0 2px rgb(199, 196, 196);
    font-size: 123%;
    text-align: center;
  }

  .apercu {
    height: 250px;
  }

  #hebergementmarseille .plus {
    font-size: 150%;
    padding-left: 0%;
    text-align: center;
  }
  #section2 {
    width: 100%;
  }

  #activitesmarseille {
    flex-flow: column wrap;
    width: 100%;
  }

  #activitesmarseille h3 {
    text-align: center;
    font-size: 200%;
  }

  #firstbloc,
  #secondbloc,
  #thirdbloc,
  #fourthbloc {
    width: 97%;
    margin-bottom: 50px;
    font-size: 135%;
  }

  figcaption {
    text-align: center;
  }

  #firstbloc figure img {
    width: 393px;
    height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 0px 0px;
  }

  #secondbloc {
    margin-bottom: 20px;
  }

  #secondbloc figure {
    margin-bottom: 50px;
  }

  #secondbloc figure img {
    width: 393px;
    height: 220px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 0px 0px;
  }

  #secondbloc figure #frioul {
    width: 393px;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 0px 0px;
  }

  #secondbloc figure img:nth-child(1) {
    width: 393px;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 0px 0px;
  }

  #thirdbloc figure img {
    width: 393px;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 0px 0px;
  }

  #fourthbloc {
    gap: 20px;
  }

  #fourthbloc figure {
    margin-bottom: 50px;
  }

  #fourthbloc figure img {
    width: 393px;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0px 0px 0px;
  }

  /**************************************** Début du footer responsive 992px *****************************************/

  #conteneurfooter {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
  }

  #conteneurfooter h3 {
    text-align: center;
  }

  #apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 0;
  }

  #apropos ul {
    list-style: none;
    padding-bottom: 0;
    margin: 0;
    font-size: 130%;
    text-align: center;
  }

  #noshebergements {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  #noshebergements ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 130%;
    text-align: center;
  }

  #assistance {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  #assistance ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 130%;
    text-align: center;
  }
}

/******************************************** Fin de la partie responsive 992px ****************************************/
