/* Mon fichier CSS*/
/* Les balises seront écrites dans l'ordre d'arrivée selon le code html */

/* Partie 1: l'en-tête */

#headerconteneur {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#logo,
img {
  height: auto;
  width: 30%;
}

#navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

/* Fin de la partie 1  */

/* Partie 2: Corps de la page */

main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
/* début de la section formulaire */

#section0 {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

h3 {
  width: 100%;
  font-size: 180%;
}

form img {
  background-color: rgb(238, 233, 233);
}

#geolocal {
  height: 20px;
  width: 20px;
  background-color: rgb(238, 233, 233);
}

.filtreicone {
  height: auto;
  width: 100%;
}

#searchform input {
  height: 30px;
  width: 15%;
}

#searchform button {
  color: white;
  background-color: rgb(0, 51, 255);
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  width: 10%;
}

#filtresconteneur {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filtres {
  height: 50px;
  border: 3px rgb(211, 211, 211) solid;
  border-radius: 60px;
  width: 17%;
  display: flex;
  align-items: center;
}

#filtretitre {
  font-weight: bold;
  font-size: 1.5em;
}

.filtretexte {
  text-align: center;
  font-weight: bold;
}

.dot {
  height: auto;
  width: 20px;
  background-color: rgb(214, 243, 248);
  border-radius: 50%;
  display: flex;
  align-content: center;
  padding: 15px;
}

#infonote {
  display: flex;
  gap: 20px;
  height: auto;
  width: 100%;
}

.info {
  height: auto;
  width: 0.5%;
  border: 2px black solid;
  border-radius: 50%;
  padding: 15px;
}

/* Fin de la section formulaire */

/* Début de la section hébergement à Marseille photos et notation */

#section1 {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 20px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#hebergementmarseille {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  width: 70%;
  border-radius: 25px;
  background-color: rgb(245, 237, 237);
}

.hebergement {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 3px 3px;
  width: 30%;
  margin: auto;
  background-color: white;
  border-radius: 10%;
}

.prix {
  font-weight: bold;
}

.photo {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25%;
  padding: 20px;
  height: auto;
}

.apercu {
  height: auto;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.star {
  height: auto;
  width: 15px;
}

#lespluspopulaires {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(245, 237, 237);
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: auto;
}

.photoleft {
  display: flex;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

#titrelink {
  display: flex;
  justify-content: space-between;
}
.charte {
  height: auto;
  width: 10%;
}

/* Fin de la section hébergement */

/* Début de la section activité */

#section2 {
  width: 100%;
}

#activitesmarseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

figure img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* Fin de la section 2 */

/* Début du pied de page */

#conteneurfooter {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 237, 237);
}

#apropos {
  display: flex;
  flex-direction: column;
}

#apropos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#noshebergements {
  display: flex;
  flex-direction: column;
}

#noshebergements ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#assistance {
  display: flex;
  flex-direction: column;
}

#assistance ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
