/* Mon fichier CSS*/
/* Les balises seront écrites dans l'ordre d'arrivée selon le code html (Note: commentaire inutile étant donné les propriétés du CSS */

* {
  border: 1px red solid;
  font-family: "raleway" "Times New Roman", Times, serif;
}

@font-face {
  font-family: "raleway";
  src: url(../../fonts/Raleway-VariableFont_wght.ttf);
}

/********************************* Partie 1: l'en-tête ************************************/

#headerconteneur {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.logo {
  height: auto;
  width: 50%;
}

#navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

a {
  color: black;
  text-decoration: none;
  width: 100%;
}

a:hover {
  color: #0065fc;
  border-top: 2px #0065fc solid;
}

/********************************* Fin de la partie 1  ************************************/

/******************************** Partie 2: Corps de la page ******************************/

main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
/* début de la section formulaire */

#section0 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

h3 {
  width: 100%;
  font-size: 180%;
}

h4 {
  width: 100%;
}

#geolocal {
  height: 20px;
  width: 4%;
  background-color: rgb(238, 233, 233);
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

.filtreicone {
  height: auto;
  width: 100%;
}

#searchform input {
  height: 30px;
  width: 15%;
}

#searchform button {
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  height: 42px;
  width: 13%;
  font-size: 1.2em;
}

#filtresconteneur {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 72%;
}

.filtres {
  height: 50px;
  border: 3px rgb(211, 211, 211) solid;
  border-radius: 100px;
  width: 21%;
  display: flex;
  align-items: center;
}

.filtres:hover {
  background-color: rgba(63, 140, 255, 0.289);
}

#filtretitre {
  font-weight: bold;
  font-size: 1.5em;
}

.filtres div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtretexte {
  text-align: center;
  font-weight: bold;
}

.dot {
  height: auto;
  width: 20px;
  background-color: #deebff;
  border-radius: 50%;
  display: flex;
  align-content: center;
  padding: 15px;
}

#infonote {
  display: flex;
  gap: 20px;
  height: auto;
  width: 100%;
}

.info {
  height: auto;
  width: 0.5%;
  border: 2px black solid;
  border-radius: 50%;
  padding: 15px;
}

/*************************** Fin de la section formulaire *********************************/

/**************** Début de la section hébergement à Marseille photos et notation **********/

#section1 {
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 7px;
}

#hebergementmarseille {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  width: 63%;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 2px;
}

.hebergement {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 3px 3px lightgray;
  width: 28%;
  height: 248px;
  margin: 3px;
  background-color: white;
  border-radius: 10%;
  border: 5px solid white;
}

.hebergement div {
  width: 100%;
  height: auto;
}

.description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.hebergement:hover {
  background-color: rgba(63, 140, 255, 0.289);
}

#hebergementmarseille h3 {
  padding: 20px;
}

.hebergement h4 {
  width: 100%;
  margin: 0px;
}
.prix {
  font-weight: bold;
}

.apercu {
  height: 150px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

i {
  color: #0065fc;
}

#lespluspopulaires {
  display: flex;
  flex-flow: column wrap;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 20px;
  width: 29%;
  height: auto;
}

.photoleft {
  display: flex;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  padding: 16px;
  height: auto;
  width: 87%;
}

.photoleft div {
  display: flex;
  width: 100%;
}

.photoleft:hover {
  background-color: rgba(63, 140, 255, 0.289);
}

.aperculeft {
  width: 45%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.textenotation {
  display: flex;
  flex-direction: column;
  width: 46%;
  height: auto;
}

#titrelink {
  display: flex;
  justify-content: space-between;
}
.charte {
  height: auto;
  width: 10%;
}

/* Fin de la section hébergement */

/* Début de la section activité */

#section2 {
  width: 100%;
  padding-left: 7px;
}

#activitesmarseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

/*
#activitesmarseille:nth-child(1) {
  background-color: red;
}
Permet de cibler un élément enfant sans avoir à définir une classe ou id
*/

figcaption {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  box-shadow: 0 3px 3px 3px lightgray;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 15px;
}

#firstbloc {
  width: 30%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstbloc figure img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  box-shadow: 0 3px 3px 3px lightgray;
}

#secondbloc {
  width: 19%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#secondbloc figure img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#thirdbloc {
  width: 30%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thirdbloc figure img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#fourthbloc {
  width: 20%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fourthbloc figure img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* Fin de la section 2 */

/* Début du pied de page */

#conteneurfooter {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

#apropos {
  display: flex;
  flex-direction: column;
}

#apropos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#noshebergements {
  display: flex;
  flex-direction: column;
}

#noshebergements ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#assistance {
  display: flex;
  flex-direction: column;
}

#assistance ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
